<nav class="navbar navbar ml-auto custom-navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/file-manager" class="nav-link">
        <i class="fas fa-folder"></i> File Manager
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/chatbox" class="nav-link">
        <i class="fas fa-comments"></i> Chatbox
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/wifi-speed" class="nav-link">
        <i class="fas fa-wifi"></i> WiFi Speed
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/todo-list" class="nav-link">
        <i class="fas fa-list"></i> Todo List
      </a>
    </li>
  </ul>
</nav>
